*{
    box-sizing: border-box;
}
body{
    background-color:blanchedalmond;
}
.sreenshot-block{
    overflow: hidden;
}
.slick-slide p{
    border:2px solid rosybrown;
    border-radius: 10px;
    padding:7px;
    margin-top: 10px;
}
.slick-prev:before, .slick-next:before{
    color: black;
}
.split-line{
    border: 1px solid black;
}